body{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    display: inline-block;
}
.heading{
    text-align: center;
}
.heading h2{
    font-size: 35px;
    font-weight: 700;
    margin: 0;
}
p{
    font-size: 16px;
    line-height: 24px;
    color: #707070;
    margin: 0;
    padding: 20px 0;
}
.click-btn{
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    color: #fff;
    background-color: #FF5959;
    padding: 15px 20px;
    border-radius: 5px;
}

#banner{
    background-image: url(../images/banner.jpg);
    background-size: cover;
    background-position: center;
    padding: 200px 250px;
    text-align: center;
}
#banner h1{
    font-size: 50px;
    font-weight: 700;
    color: #fff;
    margin: 0;
}
#banner p{
    color: #fff;
}

#donate{
    padding: 100px 0;
}
.donate-amount{
    padding: 0 200px;
    display: flex;
}
.donate-amount h4{
    width: 18%;
    margin: 2%;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    color: #707070;
    background-color: #FAFAFA;
    padding: 30px 20px;
    border-radius: 5px;
}
.donate-amount h4.show{
    color: #FF5959;
    background-color: #FFEEEE;
    border: 2px solid #FF5959;
}
#donate form{
    text-align: center;
    padding-top: 20px;
}
#donate form input{
    text-align: center;
    font-size: 16px;
    color: #707070;
    border: none;
    border-bottom: 1px solid #DADADA;
    padding: 10px 100px;
    margin-bottom: 20px;
}

#donate-plan{
    padding: 0 150px;
}
#donate-plan .planing{
    display: flex;
}
.planing .planing-item{
    width: 30%;
    margin: 3%;
    background-color: rgba(79, 157, 166, 10%);
    padding: 30px 25px;
}
.planing .planing-item.secend{
    background-color: rgba(255, 89, 89, 10%);
}
.planing .planing-item.third{
    background-color: #FFF4D6;
}
.planing .planing-item img{
    width: 50px;
    padding-bottom: 20px;
}
.planing .planing-item h3{
    margin: 0;
    font-size: 18px;
    font-weight: 700px;
}

#our-activete{
    padding: 100px 150px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.active-text{
    width: 50%;
}
.active-text h2{
    font-size: 35px;
    font-weight: 700;
    margin: 0;
}
.active-img{
    width: 50%;
    text-align: right;
}
.active-img img{
    width: 85%;
}

#blog{
    padding: 0 150px;
}
#blog .blog-contaner{
    display: flex;
}
#blog .blog-contaner .blog-item{
    width: 32%;
    margin: 1%;
    padding: 8px;
    border: 1px solid #bdbcbc;
    border-radius: 5px;
}
.blog-item img{
    width: 100%;
    border-radius: 5px;
}
.blog-item h5{
    margin: 0;
    padding-top: 20px;
    font-size: 18px;
    font-weight: 700;
}
.blog-item .click-btn{
    display: block;
    text-align: center;
    font-size: 15px;
}






#my-updete{
    padding: 100px 150px;
}
#my-updete form{
    text-align: center;
    background-color: #FFF4D6;
    padding: 60px 0;
    margin: 0 60px;
}
#my-updete form input{
    background-color: #D9D9D9;
    font-size: 16px;
    font-weight: 600;
    color: #707070;
    border: none;
    width: 250px;
    padding: 12px 25px;
    border-radius: 5px 0 0 5px;
}
#my-updete form input.btn{
    border: none;
    width: initial;
    background-color: #FF5959;
    color: #fff;
    border-radius: 0 5px 5px 0;
}

footer{
    background-color: #0B0D17;
    text-align: center;
    padding: 30px 0;
}
footer h6{
    margin: 0;
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    color: #FF5959;
}
footer p{
    color: #fff;
    padding: 0;
    padding-top: 10px;
}